//- header.pug - Header component for documentation-style site
header
  nav.top-nav
    .brand
      a(href="/admin")
        img.brand-icon(src="/img/flower.svg", alt="HeroLauncher Logo", width="24", height="24")
        span HeroLauncher
    
    .nav-links
      a.nav-link(href="/admin") Home
      a.nav-link(href="/admin/services") Services
      a.nav-link(href="/admin/packages") Packages
      a.nav-link(href="/admin/system/info") System
    
    .nav-right
      .search-box
        input(type="text", placeholder="Search...")
      button.menu-toggle(aria-label="Toggle menu")
        span Menu
      a.app-link(href="/") Back to App
