# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Database files
*.db
*.db_data
*.db_metadata

# Log files
*.log

# Temporary files
*.tmp
