table.hardware-stats(class="table table-striped")
  tbody
    tr
      th(scope='row') CPU
      td {{.hardware.cpu}}
    tr
      th(scope='row') Memory
      td {{.hardware.memory}}
    tr
      th(scope='row') Disk
      td {{.hardware.disk}}
    tr
      th(scope='row') Network
      td(style='white-space: pre-line;') {{.hardware.network}}
